.fieldset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.fieldset-container input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.fieldset-container button {
  background: #000000;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.fieldset-container button:hover,
.fieldset-container button:active,
.fieldset-container button:focus {
  background: #1a1a1a;
}

.fieldset-container label {
  display: flex;
  justify-content: flex-start;
}

.form-container {
  width: 515px;
  position: relative;
  margin: 0 auto;
  padding: 8% 0 0;
}

.wrapper-class input[type="radio"] {
  width: 30px;
}

.wrapper-class label {
  display: inline-block;
}

.wrapper-class button {
  display: inline-block;
}

body {
  background: white;
}

.table-container {
  height: auto;
  width: auto;
  overflow: scroll;
  white-space: nowrap;
}
#table td,
#table th {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

#table tr:nth-child(even) {
  background-color: #f1f1f1;
}

#table tr:hover {
  background-color: #e1e1e1;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}

@media (max-width: 700px) {
  .form-container {
    width: 70%;
  }
}
